[Desktop Entry]
Name=Baro
Name[ko]=바로
Comment=Path Quick Access Indicator
Comment[ko]=경로 빠른 접근 인디케이터
Exec=python3 /home/dinki/Documents/GitHub/DINKIssTyle-Baro-Ubuntu/baro_indicator.py
Icon=/home/dinki/Documents/GitHub/DINKIssTyle-Baro-Ubuntu/icons/appicon.png
Terminal=false
Type=Application
Categories=Utility;System;
Keywords=path;folder;shortcut;terminal;
StartupNotify=false
X-GNOME-Autostart-enabled=true
